.centralize {
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem;
}

.c-pointer {
    cursor: pointer;
}

.profile-img-40 {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/* NAV BAR */

.profile-select {
    border: none;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 4px;
    
}

a {
    text-decoration: none;
    color: black;
}