.profile-img-creation {
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    position: relative;
}

.profile-img-creation:hover {
    filter: brightness(90%);
    transition: .5s;
    cursor: pointer;
}

.input-file {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    height: 10px;
}